{% extends 'social/base.html' %}
{% load static %}


{% block content %}

<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ author.name}}</h5>
        <p class="card-text"> {{ author.description }}</p>

        {% if author.id == user.id %}
        <p class="card-text"> Уровень как автора - {{ author.author_level }} </p>
        <p class="card-text"> Баланс кошелька - {{ author.wallet }} </p>
        <a href="{% url 'users:profile_update' user.pk %}" class="btn btn-primary">Редактировать</a>

        {% else %}
        <a class="btn btn-primary" href="{% url 'users:subscribe' %}" role="button">Подписаться</a>
        {% endif %}
    </div>
</div>

{% endblock %}