{% extends 'social/base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">{{ content.text }}</p>
        <h6>{{ content.date }}</h6>

        <hr>

        {% for comment in comments_list %}
        {% if content.id == comment.content.id %}

        <p class="card-text">
            {{comment.text}} -
            {{comment.author.name}}
        </p>


        {% endif %}
        {% endfor %}
        <hr>
    </div>
</div>


{% endblock %}


{% block text %}


<p> Тут будет чат комменты и тд </p>
{% endblock %}